# Welcome to an Example Assignment
There are three ways to get started: 
* [![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/hno2/annie/blob/main/example_assignment/example.ipynb)
* [![badge](https://img.shields.io/badge/launch-binder-579aca.svg?logo=)](mybinder.org)
* Download

# Example Code
Run this to test if everything works out of the box

In [2]:
import pandas as pd
data=pd.read_csv('addresses.csv')
data.head()

,John,Doe,120 jefferson st.,Riverside,NJ,08075
0,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
1,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
2,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
3,NaN,Blankman,NaN,SomeTown,SD,298
4,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123

# Automatic Submission - WIP

In [16]:

try:
   from google.colab import _message
except:
    raise NotImplementedError("Automatic Submission only works in Google Colab, please upload your code manually")
from requests import post
notebook_json_string = _message.blocking_request('get_ipynb', request='', timeout_sec=5)
main_url="https://annie.simonklug.de/upload/"
assignment="Getting%20Started%20with%20Pandas" # Or Maybe NB name
submissionurl=main_url+assignment
if not auth_token:
    auth_token=input("Please enter your auth token here:")
x=post(submissionurl, files={"file":("submission.ipynb",str(notebook_json_string))}, data={"auth_token": auth_token})